@import "../../node_modules/margo-css/margo.scss";

* {
	box-sizing: border-box;
}

body{
	background: #2574A9;
	margin: 0;
}

#app-container{
	background: #fff;
	min-height: 100vh; 
	padding: .5rem;
}

